<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>测试自动添加view自动布局</string>
	<key>backgroundcolor</key>
	<string>lightgray</string>
	<key>subviews</key>
	<array>
		<dict>
			<key>class</key>
			<string>UIView</string>
			<key>tag</key>
			<integer>4</integer>
			<key>Masonry</key>
			<dict>
				<key>top</key>
				<string>,70</string>
				<key>left</key>
				<string>,0</string>
				<key>right</key>
				<string>,0</string>
				<key>bottom</key>
				<string>,-10</string>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
			</dict>
			<key>layer</key>
			<dict>
				<key>borderColor</key>
				<string>random</string>
				<key>cornerRadius</key>
				<string>5</string>
				<key>borderWidth</key>
				<integer>1</integer>
				<key>maskToBounds</key>
				<true/>
			</dict>
			<key>backgroundColor</key>
			<string>green</string>
			<key>text</key>
			<string>第二个label</string>
			<key>subviews</key>
			<array>
				<dict>
					<key>layer</key>
					<dict>
						<key>borderColor</key>
						<string>random</string>
						<key>maskToBounds</key>
						<true/>
						<key>cornerRadius</key>
						<string>20</string>
						<key>borderWidth</key>
						<integer>1</integer>
					</dict>
					<key>backgroundColor</key>
					<string>black</string>
					<key>class</key>
					<string>UIButton</string>
					<key>image</key>
					<string>qqshow_787038442</string>
					<key>Masonry</key>
					<dict>
						<key>top</key>
						<string>,10</string>
						<key>left</key>
						<string>,10</string>
						<key>right</key>
						<string>,-10</string>
						<key>bottom</key>
						<string>,-10</string>
						<key>width</key>
						<string></string>
						<key>height</key>
						<string></string>
					</dict>
					<key>tag</key>
					<integer>3</integer>
					<key>highlightedBackgroundColor</key>
					<string>random</string>
					<key>text</key>
					<string></string>
					<key>highlightedTitleColor</key>
					<string>red</string>
					<key>enabled</key>
					<true/>
					<key>title</key>
					<string>我是button</string>
					<key>fontsize</key>
					<integer>20</integer>
					<key>textColor</key>
					<string>black</string>
					<key>frame</key>
					<string>{{10,10},{320,50}}</string>
					<key>shadowColor</key>
					<string>blue</string>
					<key>shadowOffset</key>
					<string>{3,0}</string>
					<key>textAlignment</key>
					<string>center</string>
					<key>lineBreakMode</key>
					<string></string>
					<key>highlightedTextColor</key>
					<string>blue</string>
					<key>highlighted</key>
					<string></string>
					<key>userInteractionEnabled</key>
					<string></string>
					<key>numberOfLines</key>
					<integer>2</integer>
					<key>adjustsFontSizeToFitWidth</key>
					<string>1</string>
					<key>baselineAdjustment</key>
					<string></string>
					<key>minimumScaleFactor</key>
					<string></string>
					<key>allowsDefaultTighteningForTruncation</key>
					<string></string>
					<key>adjustsLetterSpacingToFitWidth</key>
					<false/>
				</dict>
			</array>
			<key>fontsize</key>
			<integer>30</integer>
			<key>textColor</key>
			<string>green</string>
			<key>frame</key>
			<string>{{10,430},{320,50}}</string>
			<key>shadowColor</key>
			<string>red</string>
			<key>highlightedTextColor</key>
			<string>blue</string>
			<key>shadowOffset</key>
			<string>{0,0}</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>enabled</key>
			<true/>
			<key>numberOfLines</key>
			<integer>2</integer>
			<key>adjustsFontSizeToFitWidth</key>
			<string>1</string>
			<key>lineBreakMode</key>
			<string></string>
			<key>highlighted</key>
			<string></string>
			<key>userInteractionEnabled</key>
			<string></string>
			<key>baselineAdjustment</key>
			<string></string>
			<key>minimumScaleFactor</key>
			<string></string>
			<key>allowsDefaultTighteningForTruncation</key>
			<string></string>
			<key>adjustsLetterSpacingToFitWidth</key>
			<false/>
		</dict>
	</array>
	<key>view0</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>random</string>
			<key>cornerRadius</key>
			<string>10</string>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>green</string>
		<key>text</key>
		<string>dddddddddd asfwrqwers s gsdfge tewrte wrgdbd ewtwer dsfxbf b srwer gsd</string>
		<key>Masonry</key>
		<dict>
			<key>top</key>
			<string>,80</string>
			<key>left</key>
			<string>,20</string>
			<key>right</key>
			<string>,-20</string>
			<key>bottom</key>
			<string></string>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string>,70</string>
		</dict>
		<key>fontsize</key>
		<integer>50</integer>
		<key>textColor</key>
		<string>green</string>
		<key>frame</key>
		<string>{{10,430},{320,50}}</string>
		<key>shadowColor</key>
		<string>blue</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>New item</key>
	<dict>
		<key>class</key>
		<string>UIView</string>
		<key>tag</key>
		<integer>4</integer>
		<key>Masonry</key>
		<dict>
			<key>top</key>
			<string>2.bottom,10</string>
			<key>left</key>
			<string>1,0</string>
			<key>right</key>
			<string>1,0</string>
			<key>bottom</key>
			<string>,-10</string>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string></string>
		</dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>random</string>
			<key>cornerRadius</key>
			<string>5</string>
			<key>borderWidth</key>
			<integer>1</integer>
			<key>maskToBounds</key>
			<true/>
		</dict>
		<key>backgroundColor</key>
		<string>white</string>
		<key>text</key>
		<string>第二个label</string>
		<key>subviews</key>
		<array>
			<dict>
				<key>class</key>
				<string>UILabel</string>
				<key>tag</key>
				<integer>1</integer>
				<key>layer</key>
				<dict>
					<key>borderColor</key>
					<string>random</string>
					<key>maskToBounds</key>
					<true/>
					<key>cornerRadius</key>
					<string>10</string>
					<key>borderWidth</key>
					<integer>1</integer>
				</dict>
				<key>backgroundColor</key>
				<string>blue</string>
				<key>title</key>
				<string></string>
				<key>text</key>
				<string>这是内部的label</string>
				<key>Masonry</key>
				<dict>
					<key>top</key>
					<string>,0</string>
					<key>left</key>
					<string>{&quot;offset&quot;: 5}</string>
					<key>right</key>
					<string>{&quot;offset&quot;: -5}</string>
					<key>bottom</key>
					<string></string>
					<key>width</key>
					<string></string>
					<key>height</key>
					<string>,70</string>
				</dict>
				<key>fontsize</key>
				<integer>20</integer>
				<key>textColor</key>
				<string>green</string>
				<key>frame</key>
				<string>{{10,430},{320,50}}</string>
				<key>shadowColor</key>
				<string>blue</string>
				<key>shadowOffset</key>
				<string>{3,0}</string>
				<key>textAlignment</key>
				<string>center</string>
				<key>lineBreakMode</key>
				<string></string>
				<key>highlightedTextColor</key>
				<string>blue</string>
				<key>highlighted</key>
				<string></string>
				<key>userInteractionEnabled</key>
				<string></string>
				<key>enabled</key>
				<true/>
				<key>numberOfLines</key>
				<integer>2</integer>
				<key>adjustsFontSizeToFitWidth</key>
				<string>1</string>
				<key>baselineAdjustment</key>
				<string></string>
				<key>minimumScaleFactor</key>
				<string></string>
				<key>allowsDefaultTighteningForTruncation</key>
				<string></string>
				<key>adjustsLetterSpacingToFitWidth</key>
				<false/>
			</dict>
		</array>
		<key>fontsize</key>
		<integer>30</integer>
		<key>textColor</key>
		<string>green</string>
		<key>frame</key>
		<string>{{10,430},{320,50}}</string>
		<key>shadowColor</key>
		<string>red</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>New item - 2</key>
	<dict>
		<key>class</key>
		<string>UIView</string>
		<key>tag</key>
		<integer>1</integer>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>random</string>
			<key>cornerRadius</key>
			<string>10</string>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>blue</string>
		<key>text</key>
		<string>dddddddddd asfwrqwers s gsdfge tewrte wrgdbd ewtwer dsfxbf b srwer </string>
		<key>Masonry</key>
		<dict>
			<key>top</key>
			<string>,90</string>
			<key>left</key>
			<string>{&quot;offset&quot;: 30}</string>
			<key>right</key>
			<string>{&quot;offset&quot;: -30}</string>
			<key>bottom</key>
			<string></string>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string>,70</string>
		</dict>
		<key>fontsize</key>
		<integer>50</integer>
		<key>textColor</key>
		<string>green</string>
		<key>frame</key>
		<string>{{10,430},{320,50}}</string>
		<key>shadowColor</key>
		<string>blue</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>New item - 3</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>random</string>
			<key>maskToBounds</key>
			<true/>
			<key>cornerRadius</key>
			<string>20</string>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>black</string>
		<key>class</key>
		<string>UIButton</string>
		<key>tag</key>
		<integer>2</integer>
		<key>highlightedBackgroundColor</key>
		<string>random</string>
		<key>Masonry</key>
		<dict>
			<key>top</key>
			<string>1.bottom,10</string>
			<key>left</key>
			<string>1,0</string>
			<key>right</key>
			<string></string>
			<key>bottom</key>
			<string></string>
			<key>width</key>
			<string>{&quot;multipliedBy&quot;:0.45}</string>
			<key>height</key>
			<string>,70</string>
		</dict>
		<key>text</key>
		<string></string>
		<key>highlightedTitleColor</key>
		<string>red</string>
		<key>enabled</key>
		<true/>
		<key>title</key>
		<string>我是button</string>
		<key>fontsize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>black</string>
		<key>frame</key>
		<string>{{10,490},{320,50}}</string>
		<key>shadowColor</key>
		<string>blue</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>New item - 4</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>random</string>
			<key>maskToBounds</key>
			<true/>
			<key>cornerRadius</key>
			<string>20</string>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>black</string>
		<key>class</key>
		<string>UIButton</string>
		<key>tag</key>
		<integer>3</integer>
		<key>highlightedBackgroundColor</key>
		<string>random</string>
		<key>Masonry</key>
		<dict>
			<key>top</key>
			<string>1.bottom,10</string>
			<key>left</key>
			<string>2.right,0</string>
			<key>right</key>
			<string>1.right,0</string>
			<key>bottom</key>
			<string></string>
			<key>width</key>
			<string></string>
			<key>height</key>
			<string>,70</string>
		</dict>
		<key>text</key>
		<string></string>
		<key>highlightedTitleColor</key>
		<string>red</string>
		<key>enabled</key>
		<true/>
		<key>title</key>
		<string>我是button</string>
		<key>fontsize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>black</string>
		<key>frame</key>
		<string>{{10,490},{320,50}}</string>
		<key>shadowColor</key>
		<string>blue</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
</dict>
</plist>
