<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>私密圈</string>
	<key>section0_0</key>
	<dict>
		<key>title</key>
		<string>刘德华</string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>detailtitle</key>
		<string>香港知名艺人</string>
		<key>cellclass</key>
		<string>SMDSquareCell</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_selectedbgcolor</key>
			<string>0xffffdd</string>
			<key>subviews</key>
			<array>
				<dict>
					<key>Masonry</key>
					<dict>
						<key>top</key>
						<string>,10</string>
						<key>left</key>
						<string>,10</string>
						<key>right</key>
						<string>,-10</string>
						<key>bottom</key>
						<string>,-5</string>
						<key>width</key>
						<string></string>
						<key>height</key>
						<string></string>
					</dict>
					<key>layer</key>
					<dict>
						<key>borderColor</key>
						<string></string>
						<key>cornerRadius</key>
						<string></string>
						<key>borderWidth</key>
						<integer>0</integer>
						<key>maskToBounds</key>
						<true/>
					</dict>
					<key>subviews</key>
					<array>
						<dict>
							<key>layer</key>
							<dict>
								<key>borderColor</key>
								<string>blue</string>
								<key>maskToBounds</key>
								<true/>
								<key>cornerRadius</key>
								<string>20</string>
								<key>borderWidth</key>
								<integer>1</integer>
							</dict>
							<key>backgroundColor</key>
							<string>white</string>
							<key>class</key>
							<string>UIImageView</string>
							<key>image</key>
							<string>profile</string>
							<key>Masonry</key>
							<dict>
								<key>top</key>
								<string>,0</string>
								<key>left</key>
								<string>,0</string>
								<key>right</key>
								<string></string>
								<key>bottom</key>
								<string></string>
								<key>width</key>
								<string>,40</string>
								<key>height</key>
								<string>,40</string>
							</dict>
							<key>tag</key>
							<integer>1</integer>
							<key>highlightedBackgroundColor</key>
							<string>random</string>
							<key>highlightedTitleColor</key>
							<string>red</string>
							<key>enabled</key>
							<true/>
							<key>title</key>
							<string>我是button1</string>
							<key>text</key>
							<string>我是Label</string>
							<key>fontsize</key>
							<integer>20</integer>
							<key>textColor</key>
							<string>black</string>
							<key>frame</key>
							<string>{{10,10},{320,50}}</string>
							<key>shadowColor</key>
							<string>blue</string>
							<key>shadowOffset</key>
							<string>{3,0}</string>
							<key>textAlignment</key>
							<string>center</string>
							<key>lineBreakMode</key>
							<string></string>
							<key>highlightedTextColor</key>
							<string>blue</string>
							<key>highlighted</key>
							<string></string>
							<key>userInteractionEnabled</key>
							<string></string>
							<key>numberOfLines</key>
							<integer>2</integer>
							<key>adjustsFontSizeToFitWidth</key>
							<string>1</string>
							<key>baselineAdjustment</key>
							<string></string>
							<key>minimumScaleFactor</key>
							<string></string>
							<key>allowsDefaultTighteningForTruncation</key>
							<string></string>
							<key>adjustsLetterSpacingToFitWidth</key>
							<false/>
						</dict>
						<dict>
							<key>Masonry</key>
							<dict>
								<key>top</key>
								<string>1.top,2</string>
								<key>left</key>
								<string>1.right,10</string>
								<key>right</key>
								<string>,-10</string>
								<key>bottom</key>
								<string></string>
								<key>width</key>
								<string></string>
								<key>height</key>
								<string>,20</string>
							</dict>
							<key>backgroundColor</key>
							<string>white</string>
							<key>tag</key>
							<integer>2</integer>
							<key>class</key>
							<string>UILabel</string>
							<key>highlightedBackgroundColor</key>
							<string></string>
							<key>text</key>
							<string>我是Label</string>
							<key>highlightedTitleColor</key>
							<string>red</string>
							<key>enabled</key>
							<true/>
							<key>title</key>
							<string>我是button</string>
							<key>fontsize</key>
							<integer>15</integer>
							<key>textColor</key>
							<string>black</string>
							<key>frame</key>
							<string>{{10,490},{320,50}}</string>
							<key>shadowColor</key>
							<string>blue</string>
							<key>shadowOffset</key>
							<string>{0,0}</string>
							<key>textAlignment</key>
							<string>left</string>
							<key>lineBreakMode</key>
							<string></string>
							<key>highlightedTextColor</key>
							<string>blue</string>
							<key>highlighted</key>
							<string></string>
							<key>userInteractionEnabled</key>
							<string></string>
							<key>numberOfLines</key>
							<integer>2</integer>
							<key>adjustsFontSizeToFitWidth</key>
							<string>1</string>
							<key>baselineAdjustment</key>
							<string></string>
							<key>minimumScaleFactor</key>
							<string></string>
							<key>allowsDefaultTighteningForTruncation</key>
							<string></string>
							<key>adjustsLetterSpacingToFitWidth</key>
							<false/>
						</dict>
						<dict>
							<key>Masonry</key>
							<dict>
								<key>top</key>
								<string>2.bottom,5</string>
								<key>left</key>
								<string>2.left,0</string>
								<key>right</key>
								<string>2,0</string>
								<key>bottom</key>
								<string></string>
								<key>width</key>
								<string></string>
								<key>height</key>
								<string></string>
							</dict>
							<key>backgroundColor</key>
							<string>white</string>
							<key>class</key>
							<string>UILabel</string>
							<key>image</key>
							<string>qqshow_787038442</string>
							<key>tag</key>
							<integer>3</integer>
							<key>highlightedBackgroundColor</key>
							<string></string>
							<key>text</key>
							<string>这年头连卖空调的都卖房了这年头连卖空调的都卖房了这年头连卖空调的都卖房了这年头连卖空调的</string>
							<key>highlightedTitleColor</key>
							<string>red</string>
							<key>enabled</key>
							<true/>
							<key>title</key>
							<string>我是button</string>
							<key>fontsize</key>
							<integer>12</integer>
							<key>textColor</key>
							<string>gray</string>
							<key>frame</key>
							<string>{{10,490},{320,50}}</string>
							<key>shadowColor</key>
							<string>blue</string>
							<key>shadowOffset</key>
							<string>{0,0}</string>
							<key>textAlignment</key>
							<string>left</string>
							<key>lineBreakMode</key>
							<string></string>
							<key>highlightedTextColor</key>
							<string>blue</string>
							<key>highlighted</key>
							<string></string>
							<key>userInteractionEnabled</key>
							<string></string>
							<key>numberOfLines</key>
							<integer>0</integer>
							<key>adjustsFontSizeToFitWidth</key>
							<string>1</string>
							<key>baselineAdjustment</key>
							<string></string>
							<key>minimumScaleFactor</key>
							<string></string>
							<key>allowsDefaultTighteningForTruncation</key>
							<string></string>
							<key>adjustsLetterSpacingToFitWidth</key>
							<false/>
						</dict>
						<dict>
							<key>Masonry</key>
							<dict>
								<key>top</key>
								<string>3.bottom,5</string>
								<key>left</key>
								<string>2.left,0</string>
								<key>right</key>
								<string></string>
								<key>bottom</key>
								<string></string>
								<key>width</key>
								<string>,80</string>
								<key>height</key>
								<string>,80</string>
							</dict>
							<key>backgroundColor</key>
							<string>black</string>
							<key>class</key>
							<string>UIImageView</string>
							<key>image</key>
							<string>nopic</string>
							<key>tag</key>
							<integer>4</integer>
							<key>highlightedBackgroundColor</key>
							<string></string>
							<key>text</key>
							<string></string>
							<key>highlightedTitleColor</key>
							<string>red</string>
							<key>enabled</key>
							<true/>
							<key>title</key>
							<string>我是button</string>
							<key>fontsize</key>
							<integer>13</integer>
							<key>textColor</key>
							<string>gray</string>
							<key>frame</key>
							<string>{{10,490},{320,50}}</string>
							<key>shadowColor</key>
							<string>blue</string>
							<key>shadowOffset</key>
							<string>{0,0}</string>
							<key>textAlignment</key>
							<string>left</string>
							<key>lineBreakMode</key>
							<string></string>
							<key>highlightedTextColor</key>
							<string>blue</string>
							<key>highlighted</key>
							<string></string>
							<key>userInteractionEnabled</key>
							<string></string>
							<key>numberOfLines</key>
							<integer>0</integer>
							<key>adjustsFontSizeToFitWidth</key>
							<string>1</string>
							<key>baselineAdjustment</key>
							<string></string>
							<key>minimumScaleFactor</key>
							<string></string>
							<key>allowsDefaultTighteningForTruncation</key>
							<string></string>
							<key>adjustsLetterSpacingToFitWidth</key>
							<false/>
						</dict>
						<dict>
							<key>Masonry</key>
							<dict>
								<key>top</key>
								<string>3.bottom,5</string>
								<key>left</key>
								<string>4.right,5</string>
								<key>right</key>
								<string></string>
								<key>bottom</key>
								<string></string>
								<key>width</key>
								<string>,80</string>
								<key>height</key>
								<string>,80</string>
							</dict>
							<key>backgroundColor</key>
							<string>black</string>
							<key>class</key>
							<string>UIImageView</string>
							<key>image</key>
							<string>nopic</string>
							<key>tag</key>
							<integer>5</integer>
							<key>highlightedBackgroundColor</key>
							<string></string>
							<key>text</key>
							<string></string>
							<key>highlightedTitleColor</key>
							<string>red</string>
							<key>enabled</key>
							<true/>
							<key>title</key>
							<string>我是button</string>
							<key>fontsize</key>
							<integer>13</integer>
							<key>textColor</key>
							<string>gray</string>
							<key>frame</key>
							<string>{{10,490},{320,50}}</string>
							<key>shadowColor</key>
							<string>blue</string>
							<key>shadowOffset</key>
							<string>{0,0}</string>
							<key>textAlignment</key>
							<string>left</string>
							<key>lineBreakMode</key>
							<string></string>
							<key>highlightedTextColor</key>
							<string>blue</string>
							<key>highlighted</key>
							<string></string>
							<key>userInteractionEnabled</key>
							<string></string>
							<key>numberOfLines</key>
							<integer>0</integer>
							<key>adjustsFontSizeToFitWidth</key>
							<string>1</string>
							<key>baselineAdjustment</key>
							<string></string>
							<key>minimumScaleFactor</key>
							<string></string>
							<key>allowsDefaultTighteningForTruncation</key>
							<string></string>
							<key>adjustsLetterSpacingToFitWidth</key>
							<false/>
						</dict>
					</array>
					<key>tag</key>
					<integer>100</integer>
					<key>class</key>
					<string>UIView</string>
					<key>backgroundColor</key>
					<string>white</string>
					<key>text</key>
					<string></string>
					<key>fontsize</key>
					<integer>30</integer>
					<key>textColor</key>
					<string>green</string>
					<key>frame</key>
					<string></string>
					<key>clipsToBounds</key>
					<integer>0</integer>
					<key>shadowColor</key>
					<string>red</string>
					<key>highlightedTextColor</key>
					<string>blue</string>
					<key>shadowOffset</key>
					<string>{0,0}</string>
					<key>textAlignment</key>
					<string>center</string>
					<key>enabled</key>
					<true/>
					<key>numberOfLines</key>
					<integer>2</integer>
					<key>adjustsFontSizeToFitWidth</key>
					<string>1</string>
					<key>lineBreakMode</key>
					<string></string>
					<key>highlighted</key>
					<string></string>
					<key>userInteractionEnabled</key>
					<string></string>
					<key>baselineAdjustment</key>
					<string></string>
					<key>minimumScaleFactor</key>
					<string></string>
					<key>allowsDefaultTighteningForTruncation</key>
					<string></string>
					<key>adjustsLetterSpacingToFitWidth</key>
					<false/>
				</dict>
			</array>
			<key>key_cellstruct_detailuicolor</key>
			<string>gray</string>
			<key>key_cellstruct_detailuifont</key>
			<integer>12</integer>
			<key>key_cellstruct_background</key>
			<string>white</string>
			<key>key_cellstruct_titleuicolor</key>
			<string>black</string>
			<key>key_cellstruct_titleuifont</key>
			<integer>14</integer>
		</dict>
		<key>sectionheight</key>
		<integer>0</integer>
		<key>sectionfooter</key>
		<string></string>
		<key>sectionfooterheight</key>
		<integer>0</integer>
		<key>picture</key>
		<string>http://avatar.csdn.net/E/E/1/1_ksws0393238aa.jpg</string>
		<key>selectionStyle</key>
		<false/>
		<key>cellheight</key>
		<integer>200</integer>
		<key>imageCornerRadius</key>
		<true/>
		<key>rightValue</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string></string>
		<key>sectionfont</key>
		<integer>15</integer>
		<key>sectioncolor</key>
		<string>gray</string>
	</dict>
</dict>
</plist>
