<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIDictionaryKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78E65A291C9E30BB008C42B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E65A421C9E30BC008C42B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E65A4D1C9E30BC008C42B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
