<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILabel</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>green</string>
			<key>cornerRadius</key>
			<string>10</string>
			<key>maskToBounds</key>
			<true/>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>white</string>
		<key>frame</key>
		<string>{{10,65},{300,50}}</string>
		<key>text</key>
		<string>Touch me to next controller</string>
		<key>fontsize</key>
		<integer>25</integer>
		<key>textColor</key>
		<string>random,0.5</string>
		<key>shadowColor</key>
		<string>gray</string>
		<key>shadowOffset</key>
		<string>{1,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string></string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>UILabel2</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>direction</key>
			<string>bottom|top|left</string>
			<key>New item</key>
			<string></string>
			<key>borderColor</key>
			<string>red</string>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>white</string>
		<key>frame</key>
		<string>{{10,160},{300,100}}</string>
		<key>text</key>
		<string>Touch Me and change Text</string>
		<key>fontsize</key>
		<integer>30</integer>
		<key>textColor</key>
		<string>random,0.9</string>
		<key>shadowColor</key>
		<string>gray</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string></string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>UILabel3</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>gray</string>
			<key>borderWidth</key>
			<real>0.5</real>
		</dict>
		<key>backgroundColor</key>
		<string>gray</string>
		<key>text</key>
		<string>I&apos;m a label</string>
		<key>fontsize</key>
		<integer>50</integer>
		<key>textColor</key>
		<string>green</string>
		<key>frame</key>
		<string>{{10,300},{320,50}}</string>
		<key>shadowColor</key>
		<string>blue</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>view0</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>random</string>
			<key>cornerRadius</key>
			<string>10</string>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>brown</string>
		<key>text</key>
		<string>dddddddddd asfwrqwers s gsdfge tewrte wrgdbd ewtwer dsfxbf b srwer gsd</string>
		<key>fontsize</key>
		<integer>50</integer>
		<key>textColor</key>
		<string>green</string>
		<key>frame</key>
		<string>{{10,430},{320,50}}</string>
		<key>shadowColor</key>
		<string>blue</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
	<key>imageview</key>
	<dict>
		<key>image</key>
		<string>profile</string>
		<key>backgroundColor</key>
		<string>random</string>
		<key>highlightedImage</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>frame</key>
		<string>{{10,65},{100,100}}</string>
		<key>center</key>
		<string>{150,120}</string>
		<key>highlighted</key>
		<string></string>
		<key>animationImages</key>
		<string></string>
		<key>highlightedAnimationImages</key>
		<string></string>
		<key>animationDuration</key>
		<string></string>
		<key>tintColor</key>
		<string>white</string>
		<key>animationRepeatCount</key>
		<string></string>
	</dict>
	<key>viewcontroller2</key>
	<dict>
		<key>backgroundcolor</key>
		<string>gray</string>
		<key>title</key>
		<string>viewcontroller2</string>
	</dict>
	<key>switch</key>
	<dict>
		<key>onTintColor</key>
		<string>orange</string>
		<key>tintColor</key>
		<string>green</string>
		<key>thumbTintColor</key>
		<string></string>
		<key>center</key>
		<string>{150,170}</string>
		<key>onImage</key>
		<string></string>
		<key>offImage</key>
		<string></string>
	</dict>
	<key>segmentcontrol</key>
	<dict>
		<key>center</key>
		<string>{100,210}</string>
		<key>apportionsSegmentWidthsByContent</key>
		<true/>
		<key>selectedTitleTextColor</key>
		<string>white</string>
		<key>titleTextColor</key>
		<string>black</string>
		<key>tintColor</key>
		<string>random,0.5</string>
		<key>selectedSegmentIndex</key>
		<integer>2</integer>
		<key>items</key>
		<string>item1,item2,item3,item4</string>
		<key>imageItems</key>
		<string></string>
	</dict>
	<key>button</key>
	<dict>
		<key>layer</key>
		<dict>
			<key>borderColor</key>
			<string>random</string>
			<key>maskToBounds</key>
			<true/>
			<key>cornerRadius</key>
			<string>20</string>
			<key>borderWidth</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<string>random</string>
		<key>highlightedBackgroundColor</key>
		<string>random</string>
		<key>text</key>
		<string></string>
		<key>highlightedTitleColor</key>
		<string>random</string>
		<key>title</key>
		<string>KVO-&gt;DIC-&gt;TITLE</string>
		<key>fontsize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>random</string>
		<key>frame</key>
		<string>{{10,490},{320,50}}</string>
		<key>shadowColor</key>
		<string>blue</string>
		<key>shadowOffset</key>
		<string>{3,0}</string>
		<key>textAlignment</key>
		<string>center</string>
		<key>lineBreakMode</key>
		<string></string>
		<key>highlightedTextColor</key>
		<string>blue</string>
		<key>highlighted</key>
		<string></string>
		<key>userInteractionEnabled</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>numberOfLines</key>
		<integer>2</integer>
		<key>adjustsFontSizeToFitWidth</key>
		<string>1</string>
		<key>baselineAdjustment</key>
		<string></string>
		<key>minimumScaleFactor</key>
		<string></string>
		<key>allowsDefaultTighteningForTruncation</key>
		<string></string>
		<key>adjustsLetterSpacingToFitWidth</key>
		<false/>
	</dict>
</dict>
</plist>
